@model Universidad.Models.Subject

@{
    ViewData["Title"] = "SignOn";
}
@section Css{
    <link rel="stylesheet" href="~/css/toast.css" />
}

<h4 class="text-center text-muted">Incribirse a Materia</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4 cuadro">
        <form asp-action="SignOnConfirm" id="myform">
            <p><b>Materia: </b> @Html.DisplayFor(model => model.Name)</p>
            <p><b>@Html.DisplayNameFor(model => model.Max_flake): </b> @Html.DisplayFor(model => model.Max_flake)</p>
            <p>
                <b>Profesor: </b>@Html.DisplayFor(model => model.profe.Name)
                @Html.DisplayFor(model => model.profe.Last_name)
            </p>
            <p><b>@Html.DisplayNameFor(model => model.Start_time): </b> @Html.DisplayFor(model => model.Start_time)</p>
            <p><b>@Html.DisplayNameFor(model => model.End_time): </b> @Html.DisplayFor(model => model.End_time)</p>
            <hr />
            <div>
                <span class="btn btn-outline-info"> @Html.ActionLink("Inscribirse", "SignOnConfirm", new { id = Model.Id_subject })</span> |
                <a asp-action="ListInscripcion">Volver</a>
            </div>
            <br/>
        </form>
    </div>

</div>


@*Toast de Respuesta*@
<div role="alert" id="mitoast" aria-live="assertive" aria-atomic="true" class="toast">

    <div class="toast-header bg-primary text-white" id="header_toas">
        <!-- Nombre de la Aplicación -->
        <strong class="mr-auto">Universidad</strong>
        <!-- Tiempo del Evento realizado -->
        <small>Cerrar</small>
        <!-- Botón para Cerrar el Toast -->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar" onclick="cerrarToast()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="toast-body text-center">
        @ViewBag.Mensaje
        @ViewBag.Error
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var mensaje = '@ViewBag.Mensaje';
    var error = '@ViewBag.Error';

        if (mensaje.length > 0) {
            mostrarToast();
        } else if(error.length>0) {
            var header = document.getElementById('header_toas');
            header.className = header.className.replace("bg-primary", "bg-danger");
            mostrarToast();
        }

    // Con esta función se muestra el Toast
    function mostrarToast() {
        var toast = document.getElementById("mitoast");
        toast.className = "mostrar";
        setTimeout(function () { toast.className = toast.className.replace("mostrar", ""); }, 5000);
    }

    // Con esta función se cierra el Toast
    function cerrarToast() {
        var toast = document.getElementById("mitoast");
        toast.className = "cerrar";
        toast.className = toast.className.replace("cerrar", "");
    }

</script>
}